.blog-entry {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.blog-entry:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-title {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.blog-title:hover {
    text-decoration: underline;
}

li {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, box-shadow 0.3s;
    list-style-type: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px;
}
